Makefile
README.md
build/
docs/
examples/
reports/
support/
test/

# Node.js
.npmignore
node_modules/
npm-debug.log

# Mac OS X and Windows
.DS_Store
Thumbs.db

# Git
.git*

# Utilities
.jshintrc
.travis.yml
.editorconfig
